body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background-color: #e8ecf4;
  color: #333;
  margin:0;
  padding:0;
  height:100%;
  position: relative;
}
/*** SLIDER ***/
.tip_slider {
  text-align: center;
  max-height: 200px;
  background-color: #33CC66;
}
.tip_slider h2 {
  vertical-align: middle;
}
/*** CONTAINER ***/
.container {
  padding-bottom: 10em;
}
/*** NAV BAR ***/
.nav {
  width: 100%;
  height: 60px;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.nav ul li {
  display: inline-block;
  padding: 15px 10px;
}
.nav ul li i {
  font-size: 30px;
  color: #33CC66
}
.nav ul li i:hover {
  color: #ffff;
}
.nav ul li.addNew {
  float: right;
}
.nav ul li.logo {
  float: left;
}
.nav ul li.logo img {
  width: 100px;
  height: 100px;
}
/*** LEFT MARGIN USER LIST ***/
.sidebar {
  width: 15%;
  display: inline-block;
  float: left;
}
.user_list {
  list-style-type: none;
}
.user_list li img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
.user_list li span{
  vertical-align: middle;
  position: relative;
  bottom: 14px;
  margin-left: 5px;
}
.user_list li i {
  margin-left: 2px;
  font-size: 12px;
  color: #33CC66;
}
/*** FEED CONTAINER ***/
.feed_list {
  width: 57%;
  display: inline-block;
}
/*** BONUS LIST ***/
.bonus_item {
  padding: 10px;
  margin: 5px 10px;
  border: solid 1px #cbcbcd;
  border-radius: 5px;
  background-color: #ffff;
  font-weight: 300;
  box-shadow: -2px -1px 27px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px -1px 27px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -1px 27px -4px rgba(0,0,0,0.75);
}
.bonus_item h3, .bonus_item p {
  font-weight: 300;
}
.bonus_item span.points {
  float: right;
  position: relative;
  bottom: 30px;
  padding: 12px 0;
}
.bonus_item .user-link.hovercard-trigger {
  color: #33CC66;
  text-decoration: none;
}
.bonus_item .hashtag {
  color: #A5B0B6;
  text-decoration: none;
}
/*** HASHTAG LIST ***/
.hashtag_item {
  text-align: center;
}
/*** USER LIST ***/
.user_feed_item {
  display: inline-block;
  text-align: center;
}
.user_feed_item img {
  padding: 43px 43px 5px;
}
/*** RIGHT MARGIN BONUSLY INFO ***/
.bonusly_info {
  width: 28%;
  display: inline-block;
  float: right;
  text-align: center;
}
.bonusly_info a img.logo{
  width: 75%;
}
.bonusly_info a img.app_download {
  width: 30%;
  padding-top: 5px;
}
/*** FOOTER ***/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #33CC66;
  text-align: center;
}
